@import url(./_size/title_size_l.css);
@import url(./_size/_black/title_size_l_black.css);
@import url(./_size/_white/title_size_l_white.css);
@import url(./_size/title_size_m.css);

.title {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-style: normal;
  z-index: 1;
}