.contact__info {

}

@media (max-width: 799px) {
  .contact__info {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 400px) {
  .contact__info {
    padding-left: 16px;
    padding-right: 16px;
  }
}