@import url(./__copyright/footer__copyright.css);
@import url(./__item/footer__item.css);
@import url(./__link/footer__link.css);
@import url(./__list/footer__list.css);
@import url(./__logo/footer__logo.css);

.footer {
  background-color: #3c3c3c;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding-top: 49px;
  padding-bottom: 60px;
}