.title_size_l {
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 34px;
  letter-spacing: 5px;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin: 0;
}

.title_size_l:after {
  content: '';
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-50%, 0);
  border-bottom: 2px solid #fff;
  width: 105px;
}