.title_size_l_white {
  color: #fff;
}

.title_size_l_white:after {
  content: '';
  position: absolute;
  top: 87px;
  left: 50%;
  transform: translate(-50%, 0);
  border-bottom: 2px solid #fff;
  width: 105px;
}