@import url(./__arrow/header__arrow.css);
@import url(./__caption/header__caption.css);
@import url(./__logo/header__logo.css);

.header {
  width: 100%;
  /*height: 1080px;*/
  height: 100vh;
  background-image: url(../../images/background/start-page.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  padding-top: 100px;
}