.contact__form-button {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-align: right;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
  margin-left: 348px;
  padding: 0;
}

.contact__form-button:hover {
  color: #ada074;
}

.contact__form-button:focus {
  outline: 1px dotted #ada074;
  box-shadow: 0 0 3px #ada074;
}

@media (max-width: 400px) {
  .contact__form-button {
    margin-left: 0;
  }
}