.menu__logo {
  font-family: 'SourceSansPro', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color: #3c3c3c;
}
.menu__logo:hover {
  color: #ada074;
}