.menu__logo {
  font-family: 'SourceSansPro', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color: #3c3c3c;
}
.menu__logo:hover {
  color: #ada074;
}

.menu__logo:focus {
  outline: none;
  border: 1px dotted #ada074;
  box-shadow: 0 0 3px #ada074;
}